[submodule "esi-website"]
	path = esi-website
	url = https://github.com/DuPorangaba/esi-website.git
[submodule "esi-viralata"]
	path = esi-viralata
	url = https://github.com/DuPorangaba/esi-viralata.git
[submodule "esi-tagarela"]
	path = esi-tagarela
	url = https://github.com/DuPorangaba/esi-tagarela.git
[submodule "esi-gastos-abertos"]
	path = esi-gastos-abertos
	url = https://github.com/DuPorangaba/esi-gastos-abertos
[submodule "esi-esicLivre"]
	path = esi-esicLivre
	url = https://github.com/DuPorangaba/esi-esicLivre.git
